body{
    background:#bf01c5;
}
.agentshare{
    position:relative;
}
.agentshare .agentshare_img{}
.agentshare .agentshare_img img{
    width:100%;
}
.agentshare .agentshare_bottom{
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    height:1.4rem;
    background:rgba(0,0,0,0.3);
}
.agentshare .agentshare_bottom .bottom_l{
    float:left;
    width:50%;
    height:1.4rem;
    line-height:1.4rem;
    text-align:center;
}
.agentshare .agentshare_bottom .bottom_l img{
    display:block;
    margin:0.425rem auto;
    width:3.19rem;
    height:0.55rem;
}
.agentshare .agentshare_bottom .bottom_r{
    float:left;
    width:50%;
    height:1.4rem;
}
.agentshare .agentshare_bottom .bottom_r .down_btn{
    margin:0.2rem auto 0;
    width:3.2rem;
    height:1rem;
    line-height:1rem;
    text-align:center;
    color:#fff;
    font-size:0.34rem;
    border-radius:0.5rem;
    
    background: -webkit-linear-gradient(#E78488, #DB546C); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#E78488, #DB546C); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#E78488, #DB546C); /* Firefox 3.6 - 15 */
    background: linear-gradient(#E78488, #DB546C); /* 标准的语法 */
}

.tips{
    display:none;
    position:absolute;
    top:0.5rem;
    right:0.2rem;
    padding: 0.3rem 0.1rem;
    line-height:0.3rem;
    text-align:center;
    color:#ffffff;
    font-size:0.24rem;
    background:#323232;
    border-radius:0.2rem;
}
.tips .tips_mark{
    position:absolute;
    top:-0.29rem;
    right:0.3rem;
    width:0.3rem;
    height:0.3rem;
    background:url(../images/agentshare/tips_mark.png) no-repeat center;
    background-size:0.3rem;
}