input::-webkit-input-placeholder {
/* WebKit browsers */
color: #656565;
}
input:-moz-placeholder {
/* Mozilla Firefox 4 to 18 */
color: #656565;
}
input::-moz-placeholder {
/* Mozilla Firefox 19+ */
color: #656565;
}
input:-ms-input-placeholder {
/* Internet Explorer 10+ */
color: #656565;
}

.auth_list{
    padding:0 0.3rem;
}

.auth_list li{
	height: 1rem;
	line-height: 1rem;
	border-bottom: 1px solid #1D1934;
	list-style: none;
	position: relative;
	margin: 0 auto;
}

.auth_list_title{
    position: absolute;
    top:0;
	left: 0;
    padding-left:0.07rem;
	width: 25%;
	height: 1rem;
	line-height: 1rem;
    color: #DCDCDC;
	font-size: 0.3rem;
    -moz-box-sizing: border-box;  /*Firefox3.5+*/
	-webkit-box-sizing: border-box; /*Safari3.2+*/
	-o-box-sizing: border-box; /*Opera9.6*/
	-ms-box-sizing: border-box; /*IE8*/
	box-sizing: border-box;	
}

.auth_list_right{
    position: absolute;
	right:0;
	width: 75%;
    height:1rem;
}	

.auth_list_right input{
	width: 95%;
	height: 1rem;
	line-height: 1rem;
	-webkit-appearance:none;
	border: none;
	color: #656565;
	background: none;
	outline: none;
	font-size: 0.3rem;
    vertical-align:top;
}

.auth_list li.border_none{
	border: none;
}


.autharea{
	margin:0.9rem auto;
    width:6.9rem;
    height:0.8rem;
    line-height:0.8rem;
    text-align:center;
    color:#fff;
    font-size:0.3rem;
    background:#FF9000;
}

.auth_no{
    color:rgba(255,255,255,0.5);
    background:rgba(255,255,255,0.1);
}

.line_bd_u{
    margin-top:0.3rem;
}
.upload{
    padding:0 0.3rem;
}
.upload li{
    float:left;
    margin-left:0.45rem;
    width:2rem;
    
}
.upload li:first-child{
    margin-left:0;
}
.upload li .up_img{
    position:relative;
    line-height:1;
}
.upload li .up_img img{
    width:2rem;
    height:1.5rem;
    vertical-align:top;
}
.upload li .shadd{
    display:none;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(255,255,255,0.1);
}
.upload li .shadd .progress_bd{
    position: relative;
    margin-left: 10%;
    width: 80%;
    margin-top: 35%;
    height: 0.1rem;
    border: 1px solid  #fff;
    background-color: #ccc;
    border-radius: 0.1rem;
}
.upload li .shadd .progress_bd .progress_sp{
    position: absolute;
    left: -1px;
    top: -1px;
    width: 50%;
    height: 0.1rem;
    border: 1px solid #fff;
    border-radius: 0.1rem;
    background-color: #fff;
}
.upload li .up_t{
    line-height:0.8rem;
    text-align:center;
    color:#646464;
    font-size:0.24rem;
}
.upload li.square{
    width:1.5rem;
}

.upload li.square .up_img img{
    width:1.5rem;
    height:1.5rem;
}

.auth_tips{
    position:relative;
    margin:0.5rem 0.3rem 0;
    padding-left:2rem;
    height:1.5rem;
}
.auth_tips .auth_tips_img{
    position:absolute;
    top:0;
    left:0;
    width:2rem;
    height:1.5rem;
}
.auth_tips .auth_tips_img img{
    width:100%;
    height:100%;
    vertical-align:top;
}
.auth_tips .auth_tips_info{
    padding-left:0.2rem;
    color:#646464;
    font-size:0.24rem;
    line-height:0.36rem;
}
