
.list{
    padding: 0 0.2rem;
}
.list ul{}
.list ul li{
    padding:0.2rem 0;
    height:1rem;
    border-bottom:1px solid rgba(245,245,245,0.1);
}
.list ul li p{
    line-height:0.5rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list ul li .list_l{
    float:left;
    position:relative;
    padding-left:1rem;
    width:3.55rem;
}
.list ul li .list_l .img{
    position:absolute;
    top:0.1rem;
    left:0.1rem;
    width:0.8rem;
    height:0.8rem;
}
.list ul li .list_l .img img{
    width:100%;
    height:100%;
    border-radius:50%;
    vertical-align:top;
}
.list ul li .list_l p{
}
.list ul li .list_l p.name{
    color:#C9C9C9;
    font-size:0.28rem;
}

.list ul li .list_l p.id{
    color:#969696;
    font-size:0.22rem;
}


.list ul li .list_r{
    float:right;
    width:2.55rem;
}
.list ul li .list_r p{
    text-align:right;
    color:#FFFEFE;
    font-size:0.28rem;
}
.list ul li .list_r p.name{
    color:#969696;
}
.list ul li .list_r p.nums{
    font-size:0.40rem;
}