# Android build
.gradle/
build/
*.apk
*.aab
*.ap_
*.dex

# IDE
.idea/
*.iml
local.properties

# Android Studio Navigation editor temp files
.navigation/

# Android Studio captures folder
captures/

# Keystore files
*.jks
*.keystore

# External native build folder
.externalNativeBuild
.cxx/

# Google Services
google-services.json

# Proguard
proguard/

# Log Files
*.log
